{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>

		<title>ChatDesk</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,shrink-to-fit=no">
		<meta name="color-scheme" content="light">
		<meta name="theme-color" content="#FFFFFF">
		<meta name="description" content="Log into Facebook to start sharing and connecting with your friends, family, and people you know">
		<meta name="keywords" content="">
		<meta name="author" content="techforge">

        {% tailwind_css %}


	</head>
    <body>
        <div class="preloader"></div>

    </body>



</html>